    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-container-v {
      background: #eee;
    }

    /* 标题 */
    .title{
        height: 100%;
        overflow: hidden;
    }
    .title video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    .title p {
        display: inline-block;
        height: auto;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 20px 0;
        color: white;
        font-size: 50px;
        font-weight: bold;
        text-shadow: 0 0 10px black;
        text-align: center;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
    /* 分页1 */
    .bg-lovezdn1{
        background-image: linear-gradient(to right, rgba(0, 162, 255, 0.4), rgba(255, 0, 255, 0.2)), url(../images/bg1.jpg);
    }
    .bg-lovezdn2{
        background-image: linear-gradient(to right, rgba(0, 162, 255, 0.4), rgba(255, 0, 255, 0.2)), url(../images/bg2.jpg);
    }
    .bg-lovezdn3{
        background-image: linear-gradient(to right, rgba(0, 162, 255, 0.4), rgba(255, 0, 255, 0.2)), url(../images/bg3.jpg);
    }
    .bg-lovezdn4{
        background-image: linear-gradient(to right, rgba(0, 162, 255, 0.4), rgba(255, 0, 255, 0.2)), url(../images/bg4.jpg);
    }

    .page1-lovezdn1{
        width: 550px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    }

    .page1-lovezdn1 img {
        width: 100px;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    .catText {
        font-size: 13px;
        color: gray;
    }
    
    /* 分页2 */
    .page2-box {
        width: 300px;
        height: 100%;
        padding-top: 100px;
    }
    
    .page2-box img {
        width: 150px;
        border-radius: 20px;
        margin-bottom: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    /* 分页2 */
    .thumbnail img{
        height: 726px;
        width: 600px;
    }

    /* 分页3 */
    .bg-lovezdn5 {
    background-image: linear-gradient(to right, rgba(0, 162, 255, 0.4), rgba(255, 0, 255, 0.2)), url(../images/hainan2.jpg);
}

#talkToZDN {
    width: 750px;
    padding: 50px 100px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    border-radius: 20px;
    color: white;
    text-shadow: 0 0 3px black;
}

#talkToZDN b {
    font-size: 25px;
}

#talkToZDN p {
    font-size: 20px;
}
.bg-lovezdn6{
    background-image: linear-gradient(to right, rgba(0, 162, 255, 0.4), rgba(255, 0, 255, 0.2)), url(../images/hainan1.jpg);
}

    
